#pageHeader {
    text-align: center;
}

#editForm {
    text-align: center;
}
/* 
    lightblue x
    lightgreen x
    lightpink  x
    lightyellow x
    lightgrey
    #e1bee7 x
    #80cbc4 x
    #ffcc80 x
*/
/* .baking {
    min-width: 200px;
    text-align: center,
    margin: 20px,
    backgroundColor: "#ffcc80",
} */


